@model ClassLibrary.Core.Models.StudentTask
@{
    ViewBag.Title = Model.Title;
}

<br />
<div class="row col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-offset-1 col-md-10">
                <h3>@Model.Title</h3>
                <hr />
                <p>@Model.Description</p>
                <p>Балл за выполнение: @Html.DisplayFor(model => model.Points)/@Html.DisplayFor(model => model.MaxPoints)</p>
            </div>
        </div>
        <div class="panel-footer">
            <h4>Отправить решение</h4>
            @using (Html.BeginForm("UploadSolution", "MyTasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="taskId" value=@Model.StudentTaskId />
                <input type="file" name="upload" /><br>
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            }
        </div>
    </div>
</div>


@*
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Task.Title</title>
    </head>
    <body>
        <div>
            <h3>@ViewBag.Task.Title</h3>

            <p>@ViewBag.Task.Description</p>
        </div>
    </body>
    </html>*@