@using ClassLibrary.Core.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<h2>
    @ViewBag.Title
    <small><p>Используйте локальную учетную запись для входа</p></small>
</h2>
<hr />

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-horizontal col-md-offset-3 col-md-6">
            <div class="col-md-6 text-left">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="col-md-6 text-right">
                @Html.ActionLink("Нет учетной записи?", "Register")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Выполнить вход" class="btn btn-primary btn-block" />
            </div>
        </div>

        @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
            <p>
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
            </p>*@
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}